:root {
  --white: '#ffffff';
  --black: '#000000';
  --text: '#343D48';
  /*body color and primary color */
  --text_secondary: '#02073E';
  /* secondary body color*/
  --heading: '#0F2137';
  /* primary heading color*/
  --heading_secondary: '#0F2137';
  /* heading color*/
  --background: '#FFFFFF';
  /* body background color*/
  --background_secondary: '#F9FBFD';
  /* secondary background color*/
  --border_color: '#E5ECF4';
  /* border color*/
  --yellow: '#FFA740';
  /* border color*/
  --primary: '#EA3A60';
  /* primary button and link color*/
  --secondary: '#2563FF';
  /* secondary color - can be used for hover states*/
  --muted: '#E4E4E4';
  /* muted color*/
  --accent: '#609';
  /* a contrast color for emphasizing UI*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

p {
  margin: 0;
  color: #343D48;
}

a {
  color: inherit;
  text-decoration: none;
}