.containerFluid {
  width: 100%;
  margin: 0 auto;
  /* background-color: violet; */
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  /* background-color: turquoise; */
}

.containerFlexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}