@keyframes fadeIn  {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn2 {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.flexWrapBtn {
  display: flex;
  justify-content: center;
  margin: 30px auto 40px;
  position: relative;
  z-index: 2;
}

.pricingButtons {
  padding: 10px;
  margin: 0 auto;
  background-color: #e4e3e3;
  border-radius: 5px;
}

.pricingButtons button {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.25px;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  color: #343D48;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.pricingButtons button:focus {
  outline: 0;
}

.pricingButtons button.active {
  color: #0f2137;
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(38, 78, 118, 0.1);
}

.active {
  color: #0f2137;
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(38, 78, 118, 0.1);
}

.carouselContainer {
  width: 100%;
}

.carouselContainer>ul>li {
  display: flex;
}

.pricingWrap {
  margin-bottom: -40px;
  margin-top: -40px;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.packageCardAnim, .packageHeaderAnim {
  animation: fadeIn 0.8s ease-in;
}

.packagePriceAnim {
  animation: fadeIn2 0.9s ease-in;
}

.pricingItem {
  display: flex;
  flex-shrink: 0;
  flex: 1 1 auto;
  margin-left: 20px;
  margin-right: 20px;
}

.buttonPriceWrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.buttonPrice {
  display: inline-block;
margin: 0 auto;
  padding: 10px 20px;
  color: #e8e5e5;
  border: 2px solid #f71f4e;
  border-radius: 45px;
  background-color: #f71f4e;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.buttonPrice:hover {
cursor: pointer;
box-shadow: 0 3px 4px rgba(38, 78, 118, 0.5);
}

.freeTrial {
  margin-top: 20px;
  text-align: center;
  color: #2563ff;
  font-weight: 700;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* pricing-card styles */
.pricingBox {
  position: relative;
  width: 100%;
  margin: 40px 0;
  padding: 35px 25px;
  border-radius: 20px;
  transition: all 0.3s;
}

.pricingBox::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid rgba(38, 78, 118, 0.1);
  border-radius: inherit;
  transition: all 0.3s;
  z-index: -1;
}

.pricingBox:hover {
  box-shadow: 0px 4px 25px rgba(38, 78, 118, 0.1) !important;
}
.pricingBox:hover::before {
  opacity: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -17px;
  height: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: orange;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

.pricingHeader {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
margin-bottom: 10px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color:#343D48;
  margin-top: 10px;
  margin-bottom: 20px;
}

.price > span {
  display: inline-block;
  padding-left: 3px;
  font-size: 16px;
  font-weight: normal;
}


/* list styles */
.listItem {
  display: flex;
  align-items: center;
  font-size: 14px,
  mb  30px;
  color:#343D48;
}

.open {
  opacity: 1;
}

.closed {
  opacity: 0.55;
}

.listIcon {
  width: 25px;
  height: auto;
  color: #ea3a60;
  /* margin-right: 5px; */
  font-size: 1.6rem;
}