@keyframes fadeIn  {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn2 {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.flexWrapBtn {
  display: flex;
  justify-content: center;
  margin: 30px auto 40px;
  position: relative;
  z-index: 2;
}

.pricingButtons {
  padding: 10px;
  margin: 0 auto;
  background-color: #e4e3e3;
  border-radius: 5px;
}

.pricingButtons button {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.25px;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  color: #343D48;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.pricingButtons button:focus {
  outline: 0;
}

.pricingButtons button.active {
  color: #0f2137;
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(38, 78, 118, 0.1);
}

.active {
  color: #0f2137;
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(38, 78, 118, 0.1);
}

.carouselContainer {
  width: 100%;
}

.carouselContainer>ul>li {
  display: flex;
}

.pricingAnim {
  animation: fadeIn 0.8s ease-in;
}

.packagePriceAnim {
  animation: fadeIn2 0.9s ease-in;
}

.pricingWrap {
  margin-bottom: -40px;
  margin-top: -40px;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition:  all 0.3s;
}

.pricingItem {
  display: flex;
  flex-shrink: 0;
  flex: 1 1 auto;
  margin-left: 20px;
  margin-right: 20px;
}